.gameBoard {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vw;
}

.gameInfo {
    font-size: 24px;
}

.grid {
    display: flex;
    flex-direction: column;
    border: 3px solid red;
}

.row {
    display: flex;
}

.cell {
    width: 50px;
    height: 50px;
    border: 1px solid;
    position: relative;
}

.food {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.food-image {
    width: 80%;
    height: 80%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gameOverContainer {
    margin-top: 5vh;
}

.resetBtn,
.controlBtn {
    cursor: pointer;
    color: black;
    background: white;
    border: 3px solid;
    border-radius: 25px;
}

.resetBtn:hover,
.controlBtn:hover {
    transform: scale(1.1);
}

.resetBtn {
    height: 100px;
    width: 200px;
}

.controls {
    display: flex;
    justify-content: center;
    gap: 1vw;
    margin-top: 2vh;
}

.controlBtn {
    height: 30px;
    width: 60px;
}

.snake,
.snake-head {
    background-color: green;
}

.snake-head {
    background-color: rgb(0, 84, 0);
}
